ion-content {
  --background: #f8f9fa;
}

.curso-card {
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 16px;
  transition: transform 0.2s; 
}

.curso-card:hover {
  transform: translateY(-5px);
}

ion-card-title {
  font-size: 1.5em; 
  font-weight: bold; 
  color: #333; 
}

ion-card-subtitle {
  font-size: 0.9em; 
  color: gray;
}

.curso-button {
  background-color: #3880ff;
  color: white; 
  
  margin-top: 10px; 
  
}
