ion-content {
    --background: #f0f4f7; // Fondo claro para el contenido
  }
  
  ion-card {
    --background: #ffffff; // Fondo blanco para la tarjeta del perfil
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave
  }
  
  ion-avatar img {
    border-radius: 50%; // Asegura que la imagen sea perfectamente redonda
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra alrededor de la imagen
  }
  
  ion-button {
    --border-radius: 12px; // Botón más redondeado
    font-weight: bold; // Texto del botón más destacado
  }
  