<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <h1 class="form-title">ALMI</h1>
    <form (ngSubmit)="asignarAlumnoCurso()">
      <ion-item>
        <ion-label position="floating">Selecciona un Alumno</ion-label>
        <ion-select [(ngModel)]="selectedAlumno" name="alumno" placeholder="Selecciona un Alumno">
          <ion-select-option *ngFor="let alumno of alumnos" [value]="alumno.id">{{ alumno.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Selecciona un Curso</ion-label>
        <ion-select [(ngModel)]="selectedCurso" name="curso" placeholder="Selecciona un Curso">
          <ion-select-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" type="submit" class="submit-button">Enviar</ion-button>
    </form>
  </div>
</ion-content>
