.bg-light {
  background-color: #f8f9fa; /* Color de fondo claro */
}

.curso-card {
  width: 300px; /* Ancho de la tarjeta */
  height: auto;
  margin: 10px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; 
}

.curso-card:hover {
  transform: translateY(-5px); 
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #007bff; 
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d; /* Color gris */
}

.course-description {
  color: #343a40; /* Color del texto */
  font-size: 0.9rem;
  margin: 10px 0;
}

.btn-details {
  margin-top: 10px; /* Espaciado superior */
}